<!DOCTYPE html>
<html>
<head>
  <title>RubyPerformanceTests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      body {
          text-align: center;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
